html {
  font-family: 'Source Sans Pro';
}

.word {
  font-size: 64px;
  font-weight: 900;
  text-align: center;
  line-height: 100vh;
}

.letter {
  position: relative;
  display: inline-block;
}

.viewer {
  position: fixed;
  bottom: 10px;
  left: 25%;
  width: 50vw;
}
